
h1{
    color: aqua;
}
/**{
    border: solid;
}*/

.header{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color: skyblue;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.socialMedia{
    background-color: rgb(117, 28, 28);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
p,h2{
    text-align: center;
}
.myProject{
    background-color: rgb(155, 81, 81)
}

body{
    background-color:#000
}
